<section class="everything">
  <div class="container everything__container">
    <div class="everything__left">
      <h2 class="everything__title">
        Everything you need to get the attention of your audience
      </h2>
      <div class="everything__left-right">
         <p class="everything__subtitle text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
        <div class="everything__right">
          <img class="everything__right-img"
        src="./assets/image/get-in-touch.jpg"
        width="162"
        height="162"
        alt="get in touch"
      />
      <div class="everything__right-img-arrow">
        <svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect x="14.7353" y="45.8236" width="3.85427" height="41.4334" transform="rotate(-135 14.7353 45.8236)" fill="#161A34" />
  <rect x="17.5983" y="17.3444" width="3.85427" height="26.9799" transform="rotate(-90 17.5983 17.3444)" fill="#161A34" />
  <rect x="44.598" y="40.4899" width="3.85427" height="26.9799" transform="rotate(180 44.598 40.4899)" fill="#161A34" />
</svg>
      </div>
        </div>
      </div>
    </div>
      <div class="swiper everything__slider">
        <div class="everything__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="everything__process-img-first"
              src="./assets/image/everything-first-img.jpg"
              alt="workflow"
            />
          </div>
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="everything__process-img-second"
              src="./assets/image/everything-second-img.jpg"
              alt="working meeting"
            />
            <h3 class="everything__slide-title heading-h5">What we believe in</h3>
            <p class="everything__slide-desc text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="everything__btn button-form">See Details -></button>
          </div>
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="everything__process-img-third"
              src="./assets/image/everything-third-img.jpg"
              alt="woman at work"
            />
          </div>
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="process__img-first"
              src="./assets/image/everything-first-img.jpg"
              alt="workflow"
            />
          </div>
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="process__img-second"
              src="./assets/image/everything-second-img.jpg"
              alt="working meeting"
            />
            <h3 class="everything__slide-title heading-h5">What we believe in</h3>
            <p class="everything__slide-desc text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="everything__btn button-form">See Details -></button>
          </div>
          <div class="swiper-slide everything__process">
            <img
             loading="lazy"
              class="process__img-third"
              src="./assets/image/everything-third-img.jpg"
              alt="woman at work"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
