<section class="activity activity-decor">
  <div class="container activity__container">
    <div class="activity__top">
      <h1 class="activity__title heading-h1">Activity & Updates</h1>
      <p class="activity__desc text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
      <div class="activity__nav">
        <ul class="activity__list">
          <li class="activity__list-item">
            <a href="#" class="activity__link activity__link--active"
              >View all</a
            >
          </li>
          <li class="activity__list-item">
            <a href="#" class="activity__link">Design</a>
          </li>
          <li class="activity__list-item">
            <a href="#" class="activity__link">Articles</a>
          </li>
          <li class="activity__list-item">
            <a href="#" class="activity__link">Product</a>
          </li>
          <li class="activity__list-item">
            <a href="#" class="activity__link">Software Development</a>
          </li>
          <li class="activity__list-item">
            <a href="#" class="activity__link">Customer Success</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="swiper activity__slider">
      <div class="activity__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/practice-image.jpg"
              width="515"
              height="428"
              alt="A woman thinks through the flow of users"
            />
          </div>
          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="activity__slide-desc">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/overview-image.jpg"
              width="515"
              height="428"
              alt="Women are thinking about design"
            />
          </div>

          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
            <address class="activity__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="activity__slide-desc">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/skyrocketing-img.jpg"
              width="515"
              height="428"
              alt="A man and a women high-five each other"
            />
          </div>

          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="activity__slide-desc">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/practice-image.jpg"
              width="515"
              height="428"
              alt="A woman thinks through the flow of users"
            />
          </div>
          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="activity__slide-desc">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/overview-image.jpg"
              width="515"
              height="428"
              alt="Women are thinking about design"
            />
          </div>

          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
            <address class="activity__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="activity__slide-desc">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide activity__slide">
          <div class="activity__slide-img-wrapper">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/image/skyrocketing-img.jpg"
              width="515"
              height="428"
              alt="A man and a women high-five each other"
            />
          </div>

          <div class="activity__slide-bottom">
            <div class="activity__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2021</time>
            </div>
          </div>
          <h3 class="activity__slide-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="activity__slide-desc">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        
       
      </div>
    </div>
  </div>
</section>
