<section class="cards">
  <div class="container cards__container">
    <div class="cards__left">
      <div class="cards__card-one">
        <img
          loading="lazy"
          class="cards__var-first-img"
          src="./assets/image/aws-img.jpg"
          width="584"
          height="751"
          alt="Completing tasks on a tablet"
        />
          <h3 class="card-one__title heading-h3">
            How we perform long-running tasks using AWS services
          </h3>
          <p class="card-one__desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
      </div>
      <div class="cards__card-two">
        <img
          loading="lazy"
          class="cards__var-second-img"
          src="./assets/image/layout-exploration-img.jpg"
          width="584"
          height="507"
          alt="Layout exploration"
        />
          <h3 class="card-two__title heading-h3">
            Layout Exploration — Simple exercise but big effect
          </h3>
          <p class="card-two__desc text-p-medium">
            Make alternatives or other options for the design we are making. For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
      </div>
    </div>
    <div class="cards__right">
      <div class="cards__card-three">
        <img
          loading="lazy"
          class="cards__var-second-img"
          src="./assets/image/ask-when-img.jpg"
          width="584"
          height="507"
          alt="Workflow discussion"
        />
          <h3 class="card-three__title heading-h3">
            How to ask when doing User Research
          </h3>
          <p class="card-three__desc text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
      </div>
      <div class="cards__card-four">
        <img
          loading="lazy"
          class="cards__var-first-img"
          src="./assets/image/webflow-img.jpg"
          width="584"
          height="751"
          alt="Discussion of interrupting the webflow"
        />
          <h3 class="card-four__title heading-h3">
            Webflow Break the Coding Barrier
          </h3>
          <p class="card-four__desc text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
      </div>
    </div>
  </div>
</section>
